version: '3.8'

services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: trip_whizz
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "6543:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql

  redis:
    image: redis:latest
    restart: always
    ports:
      - "6969:6969"
    volumes:
      - redis_data:/data
    command: redis-server --requirepass 1234
    environment:
      - REDIS_PASSWORD=1234

volumes:
  postgres_data:
  redis_data:
